
@media (max-width: 578px) {

 }


@media (max-width: 768px) { 
.navbar-nav form.d-flex {
    width: 100%;
}

.banner-content {
    top: 133px;
}

.navbar-brand img {
    padding-left: 0px;
    margin-left: 0px;
}
}


@media (max-width: 992px) {
.banner-content {
    top: 219px;
}

.navbar-brand img {
    padding-left: 0px;
    margin-left: 0px;
}
}


@media (max-width: 1200px) { 

}


@media (max-width: 1400px) { 

}
