* {
  padding: 0;
  margin: 0;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
font,
img,
b,
u,
i,
dl,
dt,
dd,
ol,
li,
ul {
  border-style: none;
  border-color: inherit;
  border-width: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
  margin: 0 auto;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.navbar-light .navbar-brand {
  color: #000000e6;
  padding: 0 0px;
}

.navbar-brand img {
  width: 100%;
  /* padding-left: 52px; */
}

a.nav-link {
  color: #034f5a;
}

.navigation-bar {
  background: #ffff;
}

.navbar-search {
  border: 2px solid #dfdfdf;
}

.search-icon {
  margin-top: 10px;
  position: absolute;
  right: 70px;
}

.search-icon i {
  color: #c3bfbc;
}

a.nav-link.dropdown-toggle {
  color: #ffff !important;
}

.home {
  margin-top: -8px;
}

a.nav-link.dropdown-toggle {
  background: #034f5a;
  color: #ffff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 15px;
}

ul.navbar-nav.mb-2.mb-lg-0 {
  /* padding-left: 110px; */
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1.2rem;
  padding-left: 0.5rem;
}

li.nav-item.dropdown {
  padding-left: 16px;
  margin-top: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 0px;
}

a.nav-link.dropdown-toggle {
  width: 145px !important;
  padding: 6px;
  text-align: center;
}

ul.dropdown-menu.show {
  margin-left: 10px;
}

a.nav-link.active {
  color: #16545f !important;
}

a.nav-link {
  color: #16545f !important;
}

a.nav-link.dropdown-toggle {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 200;
}

/*Banner Section*/
.banner-section .background-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
  height: auto;
  min-height: 600px;
  object-fit: cover;
}

.banner-section .banner-content {
  top: 50%;
  left: 5%;
}

h6.banner-slagon {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px #000000;
  padding-left: 6px;
}

h5.banner-heading {
  font-size: 72px;
  color: #1f717f;
  text-shadow: 0px 0px 8px #ffffff;
}

.image-1 {
  width: 100%;
  position: inherit;
}

img.img-1 {
  height: 430px;
  width: 430px;
  border-radius: 50%;
  position: absolute;
  top: 64px;
  left: 663px;
}

p.improve {
  font-size: 20px;
  color: #0b9444;
  font-weight: 500;
}

p.create {
  font-size: 38px;
  color: #5e5e5e;
  line-height: 1.2em;
  width: 100%;
  font-weight: 100;
}

.peo-description span {
  color: #5e5e5e;
  font-weight: 500;
}

.nature-links {
  font-size: 28px;
  padding-left: 33px;
  margin-top: 42px;
}

.nature-links a {
  text-decoration: none;
  color: #1c8648;
}

.section-nature {
  position: relative;
  padding-top: 40px;
}

.nature-links p {
  border-bottom: 1px solid #dddddd;
  width: 70%;
}

.peo-description {
  padding-left: 20px;
}

.nature-sec-1 {
  margin-bottom: 0px;
  position: relative;
}

.circle-content {
  position: absolute;
  width: 79%;
  height: auto;
  top: 22%;
  left: 50px;
  text-align: center;
}

.circle {
  width: 430px;
  height: 430px;
  background: #ffffff;
  margin: 10% auto;
  border-radius: 50%;
  position: relative;
  top: 145px;
  left: -336px;
  z-index: 999;
  box-shadow: 1px 1px 7px 4px #00000052;
  transition: 0.5s;
}
.circle:hover {
  transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 15px 5px #000000cf;
  box-shadow: 0px 0px 15px 5px #000000cf;
}

img.circle-image {
  width: 78%;
  text-align: center;
  left: 34px;
  top: -42px;
  position: absolute;
}

p.circle-content-para {
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 83px;
  padding-bottom: 30px;
  line-height: 1.6em;
}

a.circle-link {
  text-decoration: none;
  color: #1c8648;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
}

/*---------------------------------------------Featured Product Section Start---------------------------------------------------*/
.Featured-section {
  margin-top: 175px;
}

h4.product_name {
  text-align: center;
  font-size: 20px;
  color: #1c8648;
  font-weight: 400;
  line-height: 1.8em;
}

.map iframe {
  width: 100%;
  height: 450px;
}

h2.featured-title.text-center {
  font-size: 47px;
  color: #1f717f;
  padding-bottom: 40px;
  font-weight: 700;
}

h4.product_name {
  text-align: center;
}

h6.cat_name {
  text-align: center;
}

.star-rating {
  text-align: center;
}

h5.product-price {
  text-align: center;
  font-size: 15px;
  color: #1c8648;
}

h6.cat_name {
  font-size: 14px;
  color: #b1b1b2;
  font-weight: 400;
  line-height: 2.3em;
}

.star-rating {
  color: #eabe12;
  line-height: 2em;
}

.list-item {
  display: inline-flex;
}

i.fa.fa-solid.fa-circle {
  padding-top: 10px;
  padding-left: 15px;
}

.list-item li {
  padding-left: 10px;
}

/*-----------------------------------------------------Third Section Start--------------------------------------------------*/
.stay {
  margin-top: 100px;
  background-color: #00717f;
}

img.blue-move {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h2.success-title {
  font-size: 39px;
  color: #fff;
}

p.first-p {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 1.8em;
}

p.second-p {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 1.8em;
}

ul.stay-list {
  list-style: none;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 1.8em;
}

.row.t-1.mt-4 {
  padding: 50px 100px 100px 100px;
}

.right-bac-image {
  width: 100%;
}

img.success {
  /* max-width: 550px; */
  max-width: 100%;
}

.row.f-product {
  padding: 0px 70px;
}

/*----------------------------------Fourth Section---------------------------------------------------------------------------*/
.fourth-section {
  margin-top: 41px;
}

h5.right-content-title.mt-4 {
  font-size: 18px;
  line-height: 1.8em;
  color: #1c8648;
  letter-spacing: 2;
  font-weight: 500;
  letter-spacing: 3px;
}

h2.right-content-sub-title {
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid #1c8648;
  border-width: 25%;
  height: 90px;
}

p.success-description {
  font-size: 18px;
  color: #000;
  font-weight: 300;
  line-height: 1.5em;
  padding-top: 25px;
}

/*-----------------------------------------------Fifth Section---------------------------------------------------------------*/
.star-icon {
  /* width: 56px; */
  font-size: 55px;
  color: #fff;
}

.cards-1 {
  background: #83ced7;
  padding: 85px;
}

.cards-2 {
  background: #63aeb7;
  padding: 85px;
}

.cards-3 {
  background: #216c75;
  padding: 85px;
}

h2.highlights {
  font-size: 34px;
  color: #fff;
  font-weight: 300;
  line-height: 1.3em;
}

button.learn-more {
  background: none;
  border: none;
  color: #fff;
  padding-top: 30px;
  font-size: 17px;
  font-weight: 700;
}

i.fa.fa-solid.fa-chevron-right {
  font-size: 12px;
  color: #fff;
  padding-left: 1px;
}

.map {
  margin-top: -24px;
}

/*-----------------------------------------Footer Section--------------------------------------------------------------------*/

.footer-left {
  display: inline-flex;
}

.last-all {
  display: inline-flex;
}

.footer-section {
  background: #429a87;
  padding-top: 35px;
  padding-bottom: 45px;
}

img.footer-logo {
  width: 60%;
}

button.footer-button {
  padding: 6px;
  font-size: 14px;
  width: 192px;
  /* padding-left: 25px; */
  margin-left: 28px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 3px;
  margin-top: 0px;
}

.last-all {
  padding-top: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.col-md-6.footer-left {
  padding-left: 215px;
}

.col-md-6.footer-right {
  padding-left: 60px;
}

.footer-left span {
  padding-left: 30px;
}

.footer-right-side1 span {
  padding-left: 25px;
}

/*Product Page*/
p.banner-product-content.text-center {
  top: 300px;
  /* position: absolute; */
  /* left: 50%; */
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  /* width: 100%; */
  padding-left: 30px;
  padding-right: 30px;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #0c4953;
  background: #fff;
  opacity: 0.7;
  height: 114px;
  padding: 0px 80px;
}

.product-page .banner-content {
  top: 0;
  position: relative;
  left: 0px;
}

.Featured-section {
  margin-top: 50px;
}

.product-page p.banner-product-content.text-center {
  top: 185px;
  position: absolute;
  /* left: 50%; */
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* width: 100%; */
  padding-left: 30px;
  padding-right: 30px;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #0c4953;
  background: #fff;
  opacity: 0.7;
  /* height: 114px; */
  padding: 0px 80px;
}

.row.filtering-product {
  padding: 0px 45px;
}

select.form-select {
  text-align: end !important;
  border: none !important;
  background: none !important;
  color: #818181;
  font-size: 14px;
}

p.txt-start {
  font-size: 14px;
  padding-top: 5px;
}

.page-product .featured-images {
  padding-top: 100px;
}

.row.filtering-product {
  background: #dddcda;
  color: #818181;
}

.map,
.container-fluid.map-se,
.container-fluid.stay-se,
.container-fluid.fea-se,
.container-fluid.feat-sec,
.container-fluid.sta-se {
  padding: 0;
}

/* Contact page styles */
.map-Sec iframe {
  width: 100%;
  border: 0;
  height: 300px;
}

.header_sec {
  background: #429a87;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.form_sec {
  background: #fff;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label {
  font-weight: 600;
}

.contact-form button {
  background: #034f5a;
  color: #fff;
  font-weight: 600;
  width: 25%;
}

.contact-form button:hover {
  color: #fff;
}

.contact-form button:focus {
  box-shadow: none;
}

.container-fluid.fea-se {
  margin-top: 100px;
}

.bot_img {
  position: absolute;
  bottom: 0;
}

/*------------------------------------------Responsive CSS--------------------------------------------------------------------*/

@media (max-width: 1262px) {
  .navbar-brand img {
    width: 80%;
  }
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .navbar-brand img {
    width: 81%;
    padding-left: 30px;
  }

  li.nav-item {
    margin: 0 auto;
  }

  ul.navbar-nav.mb-2.mb-lg-0 {
    padding-left: 0px;
  }

  p.create {
    font-size: 33px;
    width: 191%;
  }

  h6.banner-slagon {
    font-size: 19px;
    padding-left: 6px;
  }

  h5.banner-heading {
    font-size: 52px;
  }

  .nature-links {
    font-size: 25px;
    padding-left: 13px;
  }

  .circle {
    width: 300px;
    height: 300px;
    top: 140px;
    left: -181px;
  }

  .peo-description {
    padding-left: 0px;
  }

  img.img-1 {
    height: 300px;
    width: 300px;
    top: 124px;
    left: 439px;
  }

  img.circle-image {
    width: 63%;
    left: 24px;
    top: -31px;
  }

  p.circle-content-para {
    font-size: 15px;
    width: 100%;
    padding-top: 29px;
    padding-bottom: 18px;
    margin-left: -20px;
  }

  a.circle-link {
    font-size: 20px;
    margin-left: -38px;
  }

  .Featured-section {
    margin-top: 140px;
  }

  img.fea-img {
    max-width: 100%;
  }

  img.blue-move {
    width: 100%;
    margin-top: -31px;
  }

  .stay-description {
    width: 80%;
    margin: 0 auto;
    padding-left: 0px;
  }

  .people-img {
    width: 100%;
  }

  img.left-side-image {
    max-width: 100%;
  }

  h2.right-content-sub-title {
    font-size: 38px;
    height: 80px;
  }

  ul.navbar-nav.mb-2.mb-lg-0 {
    /* padding-left: 64px; */
  }

  .list-item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .banner-section .background-image {
    min-height: 335px;
  }

  li.nav-item.dropdown {
    /* width: 18%; */
    margin-left: 20px;
    margin: 0 auto;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 18px;
  }

  form.d-flex {
    margin-top: 16px;
    width: 87%;
    padding-left: 0px;
    padding-bottom: 23px;
    margin: 0 auto;
    padding-top: 20px;
  }

  ul.navbar-nav.mb-2.mb-lg-0 {
    padding-left: 0px;
  }

  h6.banner-slagon {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #000000;
    padding-left: 6px;
  }

  h5.banner-heading {
    font-size: 42px;
    color: #1f717f;
  }

  .navbar-brand img {
    width: 100%;
    margin-left: -25px;
  }

  .navbar-toggler {
    background-color: transparent;
    border: 2px solid #747474;
  }

  .peo-description {
    padding-left: 15px;
  }

  p.create {
    font-size: 29px;
  }

  .nature-links {
    font-size: 22px;
    /* padding-left: 27px; */
  }

  .circle {
    width: 300px;
    height: 300px;
    top: 148px;
    left: 198px;
    position: absolute;
  }

  .circle-content {
    width: 61%;
    top: 24%;
    left: 58px;
    font-size: 13px;
  }

  img.circle-image {
    width: 69%;
    top: -30px;
    position: absolute;
    left: 25px;
  }

  p.circle-content-para {
    font-size: 13px;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 21px;
    text-align: center;
    margin: 0 auto;
  }

  a.circle-link {
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
  }

  img.img-1 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 151px;
    left: 412px;
  }

  h2.featured-title.text-center {
    font-size: 42px;
  }

  img.fea-img {
    width: 100%;
  }

  .stay-description {
    padding-left: 38px;
    width: 100%;
  }

  /* img.success {
        margin-left: 83px;
        margin-top: 32px;
    } */

  h2.success-title {
    font-size: 35px;
  }

  p.first-p {
    font-size: 16px;
  }

  p.second-p {
    font-size: 16px;
  }

  .list-item li {
    font-size: 16px;
  }

  .list-item {
    width: 100%;
  }

  .people-img {
    width: 100%;
  }

  .people-img img {
    width: 100%;
    /* max-width: 170%; */
  }

  h2.right-content-sub-title {
    font-size: 40px;
    /* height: 78px; */
    height: auto;
  }

  p.success-description {
    font-size: 16px;
    padding-top: 18px;
    margin-bottom: 30px;
  }

  /* img.success {
        margin-left: 117px;
        width: 70%;
    } */

  .cards-1 {
    padding: 85px;
    width: 102%;
    padding-bottom: 46px;
    padding-left: 65px;
  }

  .cards-2 {
    padding: 85px;
    width: 100%;
    margin-left: 1px;
    padding-left: 65px;
    padding-bottom: 46px;
  }

  .cards-3 {
    padding: 85px;
    width: 102%;
    margin-left: -5px;
    padding-left: 65px;
    padding-bottom: 46px;
  }

  .Featured-section {
    margin-top: 200px;
  }

  .star-icon {
    font-size: 42px;
  }

  h2.highlights {
    font-size: 30px;
  }

  button.learn-more {
    font-size: 15px;
  }

  /*map area*/
  .map iframe {
    height: 360px;
  }

  .footer-left span {
    padding-left: 10px;
  }

  .col-md-6.footer-left {
    padding-left: 60px;
    font-size: 13px;
  }

  .col-md-6.footer-right {
    padding-left: 44px;
    font-size: 13px;
  }

  i.fa.fa-brands.fa-facebook-f {
    font-size: 32px;
  }

  .row.t-1.mt-4 {
    padding: 20px;
  }

  li.nav-item.dropdown {
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    width: 100%;
  }

  button.navbar-toggler {
    margin-left: -50px;
  }

  h6.banner-slagon {
    font-size: 8px;
    padding-left: 3px;
  }

  h5.banner-heading {
    font-size: 25px;
  }

  .banner-section .background-image {
    min-height: 250px;
  }

  p.create {
    font-size: 20px;
    width: 100%;
  }

  .circle-content {
    width: 61%;
    top: 24%;
    left: 41px;
    font-size: 10px;
  }

  img.img-1 {
    display: none;
  }

  .Featured-section {
    margin-top: 50px;
  }

  h2.featured-title.text-center {
    font-size: 35px;
  }

  h5.product-price {
    padding-bottom: 25px;
  }

  h2.success-title {
    font-size: 29px;
  }

  .stay-description {
    padding-left: 17px;
  }

  i.fa.fa-solid.fa-circle {
    font-size: 13px;
  }

  .right-side-content {
    padding-left: 20px;
  }

  .cards-1 {
    padding: 85px;
    width: 100%;
  }

  .cards-2 {
    padding: 85px;
    width: 100%;
    margin-left: 0px;
  }

  .cards-3 {
    padding: 85px;
    width: 100%;
    margin-left: 0px;
    padding-left: 79px;
    padding-bottom: 90px;
  }

  span.navbar-toggler-icon {
    background: #ffffff;
  }

  .navbar-brand img {
    width: 80%;
    padding-left: 0px;
    margin-left: 0px;
  }

  a.nav-link.dropdown-toggle {
    padding-left: 10px;
    width: 115px;
  }

  ul.navbar-nav.mb-2.mb-lg-0 {
    padding-left: 13px;
  }

  form.d-flex {
    width: 92%;
  }

  .stay {
    margin-top: 40px;
  }

  nav.navbar.navbar-expand-lg {
    padding-right: 47px;
  }

  .circle {
    width: 205px;
    height: 205px;
    top: 82px;
    left: 145px;
    position: absolute;
  }

  img.circle-image {
    width: 80%;
    top: -25px;
    left: 15px;
  }

  p.circle-content-para {
    font-size: 12px;
    width: 123%;
    padding-top: 13px;
    padding-bottom: 0px;
    margin-left: -14px;
  }

  a.circle-link {
    font-size: 14px;
  }

  .nature-links {
    margin-top: 25px;
  }

  .nature-links {
    font-size: 16px;
  }

  li.nav-item.dropdown {
    /* margin-left: 84px; */
  }

  .row.f-product {
    padding: 20px;
  }
}

@media (max-width: 370px) {
  p.circle-content-para {
    font-size: 10px;
  }
  .circle {
    width: 160px;
    height: 200px;
    top: 110px;
  }
}
